* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 70px;
    background-color: #1f2030;
}

.menu {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    
}

.logo {
    max-width: 110px;
    max-height: 110px;
    width: auto;
    height: auto;
}

.user {
    width: 45px;
    height: 45px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    background-size: cover;
}

.menu:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
}

[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

.div1 {
    display: flex;
    justify-content: center;
}

.anima-perfil:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
}