body {
    background-color: #676761;
}

.div {
    text-align: center;
}

.campo {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 10px gray;
}

input[type="submit"] {
    border: none;
    border-radius: 5px;
    padding: 8px 30px;
    background-color: #e6bc34;
}

input[type="submit"]:hover {
    background-color: #000000;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

input[type="submit"] {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    background-color: #e9c759;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: #e6bc34;
    background-color: #1f2029;
    height: 100vh;
    background: #676761;
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    margin-top: 60px;
}

/*,  branco do form*/
.fundo {
    width: 100%;
    height: 110%;
    background-color: white;
    background-image: url("/img/pattern_japanese-pattern-2_1_2_0-0_0_1__ffffff00_000000.png");
    position: absolute;
    border-radius: 6px;
}
/*centraliza os elementos dentro do form*/
.form-centralizacao {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 55%;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    
}

/*organiza os icons dentro do campo de digitação*/
.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}
/*organiza os icons para a esquerda*/
.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
/*estiliza os campos do form*/
.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #000000;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

/*botão*/
.btn {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    background-color: #e9c759;
}
.btn:hover {
    background-color: #000000;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}


